/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}
